/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Handlee', cursive;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #00e1ff;
    -webkit-transition: background-color .3s ease-in;
    -o-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
}
main {
    background: none;
   
    background: -o-linear-gradient(bottom, #ffffff00 7%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, #ffffff00 7%, rgba(255,255,255,1) 100%);
    margin: 0 auto;
    padding: 3vh 0 0;
    min-height: calc(100vh - 40px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: hidden;
}
.h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}
.subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
}
@media screen and (min-height: 800px) {
    .header {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }
}
@media screen and (min-height: 1000px) {
    .header {
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
    }
}
.clouds-wrapper {
    width: 100%;
    max-width: 350px;
    min-height: 407px;
    height: 60vh;
    margin: 0 auto;
    padding: 20px 10px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.cloud {
    fill: #fff;
    -webkit-transition: fill .8s linear;
    -o-transition: fill .8s linear;
    transition: fill .8s linear;
}
@media screen and (min-height: 800px) {
    .cloud {
        -webkit-transform: scale(1.2) translate(0, -25px);
            -ms-transform: scale(1.2) translate(0, -25px);
                transform: scale(1.2) translate(0, -25px);
    }
}
@media screen and (min-height: 1000px) {
    .cloud {
        -webkit-transform: scale(1.5) translate(0, -35px);
            -ms-transform: scale(1.5) translate(0, -35px);
                transform: scale(1.5) translate(0, -35px);
    }
}
.cloud:hover {
    fill:#e4e4e4;
}
.item--zzz {
    width: 96px;
    height: 37px;
    margin-left: 30px;
    position: relative;
}
.item--zzz::after {
    display: block;
    content: "";
    background-image: url("./dot_smaller.svg");
    background-repeat: round;
    width: 13px;
    height: 11px;
    position: absolute;
    bottom: -50%;
    right: 15%;
}
.item--age {
    position: relative;
    width: 229px;
    height: 89px;
    margin-bottom: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.item--age::before {
    display: block;
    content: "";
    background-image: url("./dot_bigger.svg");
    background-repeat: round;
    width: 19px;
    height: 16px;
    position: absolute;
    bottom: -30%;
    right: 25%;
}
.item--age::after {
    display: block;
    content: "";
    background-image: url("./dot_smaller.svg");
    background-repeat: round;
    width: 13px;
    height: 11px;
    position: absolute;
    bottom: -50%;
    right: 35%;
}
.label--age {
    position: absolute;
    bottom: 5px;
    right: 20%;
}
.input--age {
    position: absolute;
    bottom: 26px;
    right: 35%;
    width: 50px;
}
.item--sleep {
    position: relative;
    width: 283px;
    height: 110px;
    margin-bottom: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.item--sleep::after {
    display: block;
    content: "";
    background-image: url("./dot_bigger.svg");
    background-repeat: round;
    width: 19px;
    height: 16px;
    position: absolute;
    bottom: -30%;
    left: 25%;
}
.label--sleep {
    position: absolute;
    bottom: 5px;
    left: 20%;
    text-align: center;
}
.input--sleep {
    position: absolute;
    bottom: 45px;
    left: 35%;
    width: 50px;
}
.item--button {
    position: relative;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 157px;
    height: 61px;
    margin-right: 30px;
}
.item--button::before {
    display: block;
    content: "";
    background-image: url("./dot_bigger.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 16px;
    position: absolute;
    bottom: -50%;
    left: 40%;
}
.item--button::after {
    display: block;
    content: "";
    background-image: url("./dot_smaller.svg");
    background-repeat: round;
    width: 13px;
    height: 11px;
    position: absolute;
    bottom: -80%;
    right: 35%;
}
.check-button {
    position: absolute;
    bottom: 5px;
    left: 37%;
}
.bed-container {
    position: relative;
    bottom: 0;
    display: block;
    width: 278px;
    height: 139px;
    margin: 0 auto;
}
@media screen and (min-height: 800px) {
    .bed-container {
        -webkit-transform: scale(1.2) translate(0, -11px);
            -ms-transform: scale(1.2) translate(0, -11px);
                transform: scale(1.2) translate(0, -11px);
        
    }
}
@media screen and (min-height: 1000px) {
    .bed-container {
        -webkit-transform: scale(1.5) translate(0, -25px);
            -ms-transform: scale(1.5) translate(0, -25px);
                transform: scale(1.5) translate(0, -25px);
        
    }
}
.message-container {
    position: absolute;
    bottom: 30px;
    width: 277px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 30px;
}
.message {
    margin: 0;
    padding: 0;
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
    color: white;
    -webkit-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    transition: color .3s ease-in;
}
footer {
    width: 100vw;;
    height: 40px;
    font-size: small;
    text-align: center;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
@media screen and (min-height: 800px) {
    footer {
        font-size: .9rem;
    }
}
@media screen and (min-height: 1000px) {
    footer {
        font-size: 1rem;
    }
}
footer p {
    margin: 0;
    padding: 0;
}
footer a {
    color: #000000;
    font-weight: bold;
}
footer a:visited {    
    color: #000000;
}
footer a:hover {
    color: #ffffff;
}
footer a:active {
    color: #d6d2d2;
}
