html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: #00e1ff;
    transition: background-color .3s ease-in;
}
main {
    background: none;
    background: linear-gradient(0deg, #ffffff00 7%, rgba(255,255,255,1) 100%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.h1 {
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
}
.subtitle {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
}
.clouds-wrapper {
    max-width: 350px;
    margin: 0 auto;
    padding: 10px 10px 140px;
    display: flex;
    flex-flow: column;
}
.cloud {
    fill: #fff;
    transition: fill .8s linear;
}
.cloud:hover {
    fill:#e4e4e4;
}
.item--zzz {
    margin-left: 30px;
}
.item--age {
    position: relative;
    width: 229px;
    height: 89px;
    margin-bottom: 20px;
    align-self: flex-end;
}
.label--age {
    position: absolute;
    bottom: 5px;
    right: 20%;
}
.input--age {
    position: absolute;
    bottom: 26px;
    right: 35%;
    width: 50px;
}
.item--sleep {
    position: relative;
    width: 283px;
    height: 110px;
    margin-bottom: 30px;
    align-self: flex-start;
}
.label--sleep {
    position: absolute;
    bottom: 5px;
    left: 20%;
    text-align: center;
}
.input--sleep {
    position: absolute;
    bottom: 45px;
    left: 35%;
    width: 50px;
}
.item--button {
    position: relative;
    align-self: flex-end;
    width: 157px;
    height: 61px;
    margin-right: 30px;
}
.check-button {
    position: absolute;
    bottom: 5px;
    left: 40%;
}
.bottom-container {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 131px;
    z-index: 1;
}
.bed-container {
    position: relative;
    display: block;
    width: 278px;
    margin: 0 auto;
}
.message {
    position: absolute;
    bottom: 20px;
    left: 24px;
    width: 230px;
    text-align: center;
    padding: 0 10px;
    filter: brightness(0.5);
    transition: color .3s ease-in;
}

